@import 'vars';

.category-form {
    background-color: $color-light-gray;
    display: flex;
    flex-direction: column;
    margin: .2em auto;
    padding: .5em;
    text-align: center;
    width: 300px;

    input {
        border: 1px solid $color-blue;
        display: inline-flex;
        margin: .3em;
    }

    .type-input {
        width: 50%
    }

    .amount-input {
        text-align: center;
        width: 5em;
    }

    button {
        background-color: $color-blue;
        color: $color-light-gray;
        margin: auto;
        padding: .5em;
        width: auto;
    }

}
